<div class="box">
    <div class="img-box">
        <img class="img__img" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" alt="">
    </div>
    <div class="about-box">
        <h1 class="about__h1">Sobre nosotros</h1>
        <p class="about__p">{{texto}}</p>
    </div>
    <div class="img-box">
        <img class="img__img" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/006.png" alt="">
    </div>
</div>