.box{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .img-box {
        width: 40%;

        .img__img{
            max-width: 100%;
        }
    }

    .about-box {
        width: 40%;
        margin: 40px auto;
        background-color: silver;
        border: 6px solid black;
        padding: auto;
        text-align: center;

        .about__h1 {
            margin-top: 10px;
        }

        .about__p {
            margin: 20px 20px;
            font-size: 20px;
        }
    }
}