.footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    bottom: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    opacity: 90%;

    .footer__p {
        margin: 10px auto;
    }
}