<header>
<nav class="navbar">
    <div class="navbar__logo">
      <a class="navbar__a" role="button" routerLink="/home">
        <img class="logo" src="{{logo}}" alt="Logo" />
      </a>
    </div>
    <div class="navbar__menu">
      <a class="navbar__a" role="button" routerLink="/home">Home</a>
      <a class="navbar__a" role="button" routerLink="/pokedex">Pokedex</a>
      <a class="navbar__a" role="button" routerLink="/entrenadores">Entrenadores</a>
      <a class="navbar__a" role="button" routerLink="/create">Create</a>
      <a class="navbar__a" role="button" routerLink="/about">About</a>
    </div>
  </nav>
</header>