@media screen and (min-width: 1200px) {
    /* Código CSS que solo aplica a pantallas con ancho > 480 */

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #000;
    opacity: 90%;

    .navbar__logo {
        text-align: center;
        width: 18%;
        margin: 4px auto;
        margin-left: 40.5%;

        .logo {
            max-width: 100%;
        }
    }

    .navbar__menu {
        display: inline;
        padding: 0px 20px;
        margin: auto 20px;

        .navbar__a {
            background-color: #000;
            padding: 10px 16px;
            color: #fff;
            text-decoration: none;
            -webkit-transition: all .5s ease-in-out;
        }
        .navbar__a:hover {
            background-color: #fff;
            color: #000;
            font-size: 18px;
        }
    }
}
}

@media screen and (max-width: 1080px) {
    /* Código CSS que solo aplica a pantallas con ancho > 480 */

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
    opacity: 90%;
    height: 164px;

    .navbar__logo {
        text-align: center;
        width: 24%;
        margin: 4px auto;
        margin-left: 37%;
        margin-bottom: 10px;

        .logo {
            max-width: 100%;
        }
    }

    .navbar__menu {
        display: inline;
        padding: 0px 20px;
        margin: auto 20px;

        .navbar__a {
            background-color: #000;
            padding: 10px 16px;
            color: #fff;
            text-decoration: none;
            -webkit-transition: all .5s ease-in-out;
        }
        .navbar__a:hover {
            background-color: #fff;
            color: #000;
            font-size: 18px;
        }
    }
}
}

@media screen and (max-width: 900px) {
    /* Código CSS que solo aplica a pantallas con ancho > 480 */

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
    opacity: 90%;
    height: 160px;

    .navbar__logo {
        text-align: center;
        width: 28%;
        margin: 4px auto;
        margin-left: 35%;
        margin-bottom: 10px;

        .logo {
            max-width: 100%;
        }
    }

    .navbar__menu {
        display: inline;
        padding: 0px 20px;
        margin: auto 20px;

        .navbar__a {
            background-color: #000;
            padding: 10px 16px;
            color: #fff;
            text-decoration: none;
            -webkit-transition: all .5s ease-in-out;
        }
        .navbar__a:hover {
            background-color: #fff;
            color: #000;
            font-size: 18px;
        }
    }
}
}

@media screen and (max-width: 700px) {
    /* Código CSS que solo aplica a pantallas con ancho > 480 */

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
    opacity: 90%;
    height: 150px;

    .navbar__logo {
        text-align: center;
        width: 32%;
        margin: 4px auto;
        margin-left: 33%;
        margin-bottom: 10px;

        .logo {
            max-width: 100%;
        }
    }

    .navbar__menu {
        display: inline;
        padding: 0px 20px;
        margin: auto 20px;

        .navbar__a {
            background-color: #000;
            padding: 10px 16px;
            color: #fff;
            text-decoration: none;
            -webkit-transition: all .5s ease-in-out;
        }
        .navbar__a:hover {
            background-color: #fff;
            color: #000;
            font-size: 18px;
        }
    }
}
}

@media screen and (max-width: 500px) {
    /* Código CSS que solo aplica a pantallas con ancho > 480 */

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
    opacity: 90%;

    .navbar__logo {
        text-align: center;
        width: 38%;
        margin: 4px auto;
        margin-left: 30%;
        margin-bottom: 10px;

        .logo {
            max-width: 100%;
        }
    }

    .navbar__menu {
        display: inline;
        padding: 0px 20px;
        margin: auto 20px;

        .navbar__a {
            background-color: #000;
            padding: 10px 8px;
            color: #fff;
            text-decoration: none;
            -webkit-transition: all .5s ease-in-out;
        }
        .navbar__a:hover {
            background-color: #fff;
            color: #000;
            font-size: 18px;
        }
    }
}
}

