*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .center-on-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .aviso {
      margin-bottom: 50px;
      background-color: silver;
      border-radius: 10px;
      border: 4px solid #000;
      text-align: center;
      padding: 10px;
      letter-spacing: 2px;

      .aviso__h2 {
        font-weight: 700;
      }
    }
  }
  /* Poké Styles */
  .pokeball {
    margin: 10px auto;
    position: relative;
    width: 150px;
    height: 150px;
    background: #fff;
    border: 8px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: fall .25s ease-in-out,
               shake 1.25s cubic-bezier(.36,.07,.19,.97) infinite;
  }
  .pokeball::before,
  .pokeball::after {
    content:"";
    position: absolute;
  }
  .pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
  }
  .pokeball::after {
    top: calc(50% - 8px);
    width: 100%;
    height: 10px;
    background: #000;
  }
  .pokeball__button {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 20%;
    height: 20%;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
    animation: blink .5s alternate 7;
    cursor: pointer;
  }

  .pokeball__button:hover {
    border: 10px solid rgb(218, 63, 63);
    width: 24%;
    height: 24%;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
  }
  /* Animation */
  @keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
  }
  @keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }
  @keyframes fall {
    0% { top: -200px }
    60% { top: 0 }
    80% { top: -20px }
    100% { top: 0 }
  }

  .animate__animated.animate__backInDown {
    --animate-repeat: 2;
  }

  .animate__animated.animate__flash {
    --animate-repeat: 2;
  }
  