<div class="center-on-page" *ngIf="!mostrar">

    <div class="animate__animated animate__backInDown aviso">
      <h2 class="animate__animated animate__flash aviso__h2">Pulsa en la pokeball!</h2>
    </div>

    <div class="pokeball">
      <div class="pokeball__button" (click)="bienvenida()"></div>
    </div>
    
</div>

<div class="center-on-page" *ngIf="mostrar">
  <app-bienvenida></app-bienvenida>
</div>