.detail-box {
    width: 60%;
    margin: 20px auto;
    text-align: center;
    background-color:rgb(56, 173, 56);
    border-radius: 10%;
    border: 6px solid #fff;
    padding: 10px 0px;
    box-shadow: 5px 5px 25px #222 inset;

    .pokemon-card__p {
        color: #fff;
        border-radius: 80%;
        border: 2px solid #fff;
        width: 10%;
        margin: 2px auto;
    }

    .fuego {
        background-color: red;
    }

    .planta {
        background-color: rgb(11, 85, 11);
    }

    .agua {
        background-color: rgb(42, 116, 255);
    }

    .veneno {
        background-color: purple;
    }

    .electrico {
        background-color: yellow;
    }

    .bicho {
        background-color: greenyellow;
    }

    .ice {
        background-color: rgb(25, 160, 201);
    }

    .tierra {
        background-color: rgb(163, 98, 45);
    }

    .roca {
        background-color: rgb(131, 62, 5);
    }

    .volador {
        background-color: rgb(83, 83, 255);
    }

    .fantasma {
        background-color: rgb(42, 7, 87);
    }

    .siniestro {
        background-color: rgb(46, 41, 41);
    }

    .dragon {
        background-color: rgb(8, 8, 100);
    }

    .psiquico {
        background-color: rgb(230, 87, 110);
    }

    .lucha {
        background-color: rgb(160, 4, 4);
    }

    .normal {
        background-color: silver;
    }

    .hada {
        background-color: rgb(245, 142, 160);
    }

    .acero {
        background-color: rgb(109, 102, 102);
    }

    .detail-img {
        width: 100%;
        .detail__img {
            width: 30%;
            border-radius: 50%;
            border: 8px solid white;
            background-image: url('https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2020%2F04%2Fpokemon-pikachu-video-chat-backgrounds-download-info-005.jpg?quality=95&w=1170&cbr=1&q=90&fit=max');
        }
    }

    .detail__p {
        margin: 10px 0px;
        color: black;
        font-weight: 600;
    }
}