<div class="detail-box" *ngIf="pokemonDetail">
    <h1 class="detail__h1">{{pokemonDetail.name}}</h1>

    <h3 class="detail__h3">{{pokemonDetail.id}}</h3>

    <div class="detail-tipo" *ngFor="let tipo of pokemonDetail.types">
        <p class="pokemon-card__p" [ngClass]="tipo.type.name == 'fire' ? 'fuego' : tipo.type.name == 'water' ? 'agua' : tipo.type.name == 'grass' ? 'planta' : tipo.type.name == 'poison' ? 'veneno' : tipo.type.name == 'electric' ? 'electrico' : tipo.type.name == 'bug' ? 'bicho' : tipo.type.name == 'ice' ? 'ice' : tipo.type.name == 'ground' ? 'tierra' : tipo.type.name == 'flying' ? 'volador' : tipo.type.name == 'rock' ? 'roca' : tipo.type.name == 'ghost' ? 'fantasma' : tipo.type.name == 'fighting' ? 'lucha' : tipo.type.name == 'dragon' ? 'dragon' : tipo.type.name == 'psychic' ? 'psiquico' : tipo.type.name == 'dark' ? 'siniestro' : tipo.type.name == 'steel' ? 'acero' : tipo.type.name == 'fairy' ? 'hada' : 'normal'">{{tipo.type.name}}</p>
    </div>

    <div class="detail-img">
        <img class="detail__img" src="{{pokemonDetail.sprites.front_default}}" alt="NORMAL">
        <img class="detail__img" src="{{pokemonDetail.sprites.front_shiny}}" alt="SHINY">
    </div>

    <div class="detail-ability" *ngFor="let abilities of pokemonDetail.abilities">
        <p class="detail__p">Habilidad: {{abilities.ability.name}}</p>
    </div>

    <p class="detail__p">Experiencia base: {{pokemonDetail.base_experience}}</p>
</div>
