<div class="buscador">
    <input type="text" class="buscador__input" name="filterPokemon" [(ngModel)]= "filter">
    <button type="submit" class="buscador__button" id="buscador__button">Buscar</button>
</div>

<div class="menu">

    <nav class="menu-nav"><ul class="menu-nav__ul">
        <li class="menu-nav__li"><button class="button" (click)="mostrar10()">Pokédex Nacional</button>
            <ul class="li__ul">
                <li class="menu-nav__li"><button class="button" (click)="mostrar1()">Generación 1</button></li>
                <li class="menu-nav__li"><button class="button" (click)="mostrar2()">Generación 2</button></li>
                <li class="menu-nav__li"><button class="button" (click)="mostrar3()">Generación 3</button></li>
                <li class="menu-nav__li"><button class="button" (click)="mostrar4()">Generación 4</button></li>
                <li class="menu-nav__li"><button class="button" (click)="mostrar5()">Generación 5</button></li>
                <li class="menu-nav__li"><button class="button" (click)="mostrar6()">Generación 6</button></li>
                <li class="menu-nav__li"><button class="button" (click)="mostrar7()">Generación 7</button></li>
                <li class="menu-nav__li"><button class="button" (click)="mostrar8()">Generación 8</button></li>
            </ul>
        </li>
    </ul></nav>

</div>

<div class="pokemon-box" *ngIf="mostrar==10" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">

    <div class="pokemon-card" *ngFor="let pokemon of listado | filterPokemon: filter">
        <div [routerLink]="['/detail', pokemon.id]">
            <h3 class="pokemon-card__h3">{{pokemon.name.toUpperCase()}}</h3>
            <h4 class="pokemon-card__h4">{{pokemon.id}}</h4>
            <div class="pokemon-card__tipo" *ngFor="let tipo of pokemon.types">
                <p class="pokemon-card__p" [ngClass]="tipo.type.name == 'fire' ? 'fuego' : tipo.type.name == 'water' ? 'agua' : tipo.type.name == 'grass' ? 'planta' : tipo.type.name == 'poison' ? 'veneno' : tipo.type.name == 'electric' ? 'electrico' : tipo.type.name == 'bug' ? 'bicho' : tipo.type.name == 'ice' ? 'ice' : tipo.type.name == 'ground' ? 'tierra' : tipo.type.name == 'flying' ? 'volador' : tipo.type.name == 'rock' ? 'roca' : tipo.type.name == 'ghost' ? 'fantasma' : tipo.type.name == 'fighting' ? 'lucha' : tipo.type.name == 'dragon' ? 'dragon' : tipo.type.name == 'psychic' ? 'psiquico' : tipo.type.name == 'dark' ? 'siniestro' : tipo.type.name == 'steel' ? 'acero' : tipo.type.name == 'fairy' ? 'hada' : 'normal'">{{tipo.type.name}}</p>
            </div>
            <div class="pokemon-card__box">
                <img class="pokemon-card__img" src="{{pokemon.sprites.front_default}}" alt="">
            </div>
        </div>
    </div>

</div>

<div class="pokemon-box" *ngIf="mostrar==1">

    <div class="pokemon-card" *ngFor="let pokemon of pokemonList1">
        <div [routerLink]="['/detail', pokemon.id]">
            <h3 class="pokemon-card__h3">{{pokemon.name.toUpperCase()}}</h3>
            <h4 class="pokemon-card__h4">{{pokemon.id}}</h4>
            <div class="pokemon-card__tipo" *ngFor="let tipo of pokemon.types">
                <p class="pokemon-card__p" [ngClass]="tipo.type.name == 'fire' ? 'fuego' : tipo.type.name == 'water' ? 'agua' : tipo.type.name == 'grass' ? 'planta' : tipo.type.name == 'poison' ? 'veneno' : tipo.type.name == 'electric' ? 'electrico' : tipo.type.name == 'bug' ? 'bicho' : tipo.type.name == 'ice' ? 'ice' : tipo.type.name == 'ground' ? 'tierra' : tipo.type.name == 'flying' ? 'volador' : tipo.type.name == 'rock' ? 'roca' : tipo.type.name == 'ghost' ? 'fantasma' : tipo.type.name == 'fighting' ? 'lucha' : tipo.type.name == 'dragon' ? 'dragon' : tipo.type.name == 'psychic' ? 'psiquico' : tipo.type.name == 'dark' ? 'siniestro' : tipo.type.name == 'steel' ? 'acero' : tipo.type.name == 'fairy' ? 'hada' : 'normal'">{{tipo.type.name}}</p>
            </div>
            <div class="pokemon-card__box">
                <img class="pokemon-card__img" src="{{pokemon.sprites.front_default}}" alt="">
            </div>
        </div>
    </div>

</div>

<div class="pokemon-box" *ngIf="mostrar==2">

    <div class="pokemon-card" *ngFor="let pokemon of pokemonList2">
        <div [routerLink]="['/detail', pokemon.id]">
            <h3 class="pokemon-card__h3">{{pokemon.name.toUpperCase()}}</h3>
            <h4 class="pokemon-card__h4">{{pokemon.id}}</h4>
            <div class="pokemon-card__tipo" *ngFor="let tipo of pokemon.types">
                <p class="pokemon-card__p" [ngClass]="tipo.type.name == 'fire' ? 'fuego' : tipo.type.name == 'water' ? 'agua' : tipo.type.name == 'grass' ? 'planta' : tipo.type.name == 'poison' ? 'veneno' : tipo.type.name == 'electric' ? 'electrico' : tipo.type.name == 'bug' ? 'bicho' : tipo.type.name == 'ice' ? 'ice' : tipo.type.name == 'ground' ? 'tierra' : tipo.type.name == 'flying' ? 'volador' : tipo.type.name == 'rock' ? 'roca' : tipo.type.name == 'ghost' ? 'fantasma' : tipo.type.name == 'fighting' ? 'lucha' : tipo.type.name == 'dragon' ? 'dragon' : tipo.type.name == 'psychic' ? 'psiquico' : tipo.type.name == 'dark' ? 'siniestro' : tipo.type.name == 'steel' ? 'acero' : tipo.type.name == 'fairy' ? 'hada' : 'normal'">{{tipo.type.name}}</p>
            </div>
            <div class="pokemon-card__box">
                <img class="pokemon-card__img" src="{{pokemon.sprites.front_default}}" alt="">
            </div>
        </div>
    </div>

</div>

<div class="pokemon-box" *ngIf="mostrar==3">

    <div class="pokemon-card" *ngFor="let pokemon of pokemonList3">
        <div [routerLink]="['/detail', pokemon.id]">
            <h3 class="pokemon-card__h3">{{pokemon.name.toUpperCase()}}</h3>
            <h4 class="pokemon-card__h4">{{pokemon.id}}</h4>
            <div class="pokemon-card__tipo" *ngFor="let tipo of pokemon.types">
                <p class="pokemon-card__p" [ngClass]="tipo.type.name == 'fire' ? 'fuego' : tipo.type.name == 'water' ? 'agua' : tipo.type.name == 'grass' ? 'planta' : tipo.type.name == 'poison' ? 'veneno' : tipo.type.name == 'electric' ? 'electrico' : tipo.type.name == 'bug' ? 'bicho' : tipo.type.name == 'ice' ? 'ice' : tipo.type.name == 'ground' ? 'tierra' : tipo.type.name == 'flying' ? 'volador' : tipo.type.name == 'rock' ? 'roca' : tipo.type.name == 'ghost' ? 'fantasma' : tipo.type.name == 'fighting' ? 'lucha' : tipo.type.name == 'dragon' ? 'dragon' : tipo.type.name == 'psychic' ? 'psiquico' : tipo.type.name == 'dark' ? 'siniestro' : tipo.type.name == 'steel' ? 'acero' : tipo.type.name == 'fairy' ? 'hada' : 'normal'">{{tipo.type.name}}</p>
            </div>
            <div class="pokemon-card__box">
                <img class="pokemon-card__img" src="{{pokemon.sprites.front_default}}" alt="">
            </div>
        </div>
    </div>

</div>

<div class="pokemon-box" *ngIf="mostrar==4">

    <div class="pokemon-card" *ngFor="let pokemon of pokemonList4">
        <div [routerLink]="['/detail', pokemon.id]">
            <h3 class="pokemon-card__h3">{{pokemon.name.toUpperCase()}}</h3>
            <h4 class="pokemon-card__h4">{{pokemon.id}}</h4>
            <div class="pokemon-card__tipo" *ngFor="let tipo of pokemon.types">
                <p class="pokemon-card__p" [ngClass]="tipo.type.name == 'fire' ? 'fuego' : tipo.type.name == 'water' ? 'agua' : tipo.type.name == 'grass' ? 'planta' : tipo.type.name == 'poison' ? 'veneno' : tipo.type.name == 'electric' ? 'electrico' : tipo.type.name == 'bug' ? 'bicho' : tipo.type.name == 'ice' ? 'ice' : tipo.type.name == 'ground' ? 'tierra' : tipo.type.name == 'flying' ? 'volador' : tipo.type.name == 'rock' ? 'roca' : tipo.type.name == 'ghost' ? 'fantasma' : tipo.type.name == 'fighting' ? 'lucha' : tipo.type.name == 'dragon' ? 'dragon' : tipo.type.name == 'psychic' ? 'psiquico' : tipo.type.name == 'dark' ? 'siniestro' : tipo.type.name == 'steel' ? 'acero' : tipo.type.name == 'fairy' ? 'hada' : 'normal'">{{tipo.type.name}}</p>
            </div>
            <div class="pokemon-card__box">
                <img class="pokemon-card__img" src="{{pokemon.sprites.front_default}}" alt="">
            </div>
        </div>
    </div>

</div>

<div class="pokemon-box" *ngIf="mostrar==5">

    <div class="pokemon-card" *ngFor="let pokemon of pokemonList5">
        <div [routerLink]="['/detail', pokemon.id]">
            <h3 class="pokemon-card__h3">{{pokemon.name.toUpperCase()}}</h3>
            <h4 class="pokemon-card__h4">{{pokemon.id}}</h4>
            <div class="pokemon-card__tipo" *ngFor="let tipo of pokemon.types">
                <p class="pokemon-card__p" [ngClass]="tipo.type.name == 'fire' ? 'fuego' : tipo.type.name == 'water' ? 'agua' : tipo.type.name == 'grass' ? 'planta' : tipo.type.name == 'poison' ? 'veneno' : tipo.type.name == 'electric' ? 'electrico' : tipo.type.name == 'bug' ? 'bicho' : tipo.type.name == 'ice' ? 'ice' : tipo.type.name == 'ground' ? 'tierra' : tipo.type.name == 'flying' ? 'volador' : tipo.type.name == 'rock' ? 'roca' : tipo.type.name == 'ghost' ? 'fantasma' : tipo.type.name == 'fighting' ? 'lucha' : tipo.type.name == 'dragon' ? 'dragon' : tipo.type.name == 'psychic' ? 'psiquico' : tipo.type.name == 'dark' ? 'siniestro' : tipo.type.name == 'steel' ? 'acero' : tipo.type.name == 'fairy' ? 'hada' : 'normal'">{{tipo.type.name}}</p>
            </div>
            <div class="pokemon-card__box">
                <img class="pokemon-card__img" src="{{pokemon.sprites.front_default}}" alt="">
            </div>
        </div>
    </div>

</div>

<div class="pokemon-box" *ngIf="mostrar==6">

    <div class="pokemon-card" *ngFor="let pokemon of pokemonList6">
        <div [routerLink]="['/detail', pokemon.id]">
            <h3 class="pokemon-card__h3">{{pokemon.name.toUpperCase()}}</h3>
            <h4 class="pokemon-card__h4">{{pokemon.id}}</h4>
            <div class="pokemon-card__tipo" *ngFor="let tipo of pokemon.types">
                <p class="pokemon-card__p" [ngClass]="tipo.type.name == 'fire' ? 'fuego' : tipo.type.name == 'water' ? 'agua' : tipo.type.name == 'grass' ? 'planta' : tipo.type.name == 'poison' ? 'veneno' : tipo.type.name == 'electric' ? 'electrico' : tipo.type.name == 'bug' ? 'bicho' : tipo.type.name == 'ice' ? 'ice' : tipo.type.name == 'ground' ? 'tierra' : tipo.type.name == 'flying' ? 'volador' : tipo.type.name == 'rock' ? 'roca' : tipo.type.name == 'ghost' ? 'fantasma' : tipo.type.name == 'fighting' ? 'lucha' : tipo.type.name == 'dragon' ? 'dragon' : tipo.type.name == 'psychic' ? 'psiquico' : tipo.type.name == 'dark' ? 'siniestro' : tipo.type.name == 'steel' ? 'acero' : tipo.type.name == 'fairy' ? 'hada' : 'normal'">{{tipo.type.name}}</p>
            </div>
            <div class="pokemon-card__box">
                <img class="pokemon-card__img" src="{{pokemon.sprites.front_default}}" alt="">
            </div>
        </div>
    </div>

</div>

<div class="pokemon-box" *ngIf="mostrar==7">

    <div class="pokemon-card" *ngFor="let pokemon of pokemonList7">
        <div [routerLink]="['/detail', pokemon.id]">
            <h3 class="pokemon-card__h3">{{pokemon.name.toUpperCase()}}</h3>
            <h4 class="pokemon-card__h4">{{pokemon.id}}</h4>
            <div class="pokemon-card__tipo" *ngFor="let tipo of pokemon.types">
                <p class="pokemon-card__p" [ngClass]="tipo.type.name == 'fire' ? 'fuego' : tipo.type.name == 'water' ? 'agua' : tipo.type.name == 'grass' ? 'planta' : tipo.type.name == 'poison' ? 'veneno' : tipo.type.name == 'electric' ? 'electrico' : tipo.type.name == 'bug' ? 'bicho' : tipo.type.name == 'ice' ? 'ice' : tipo.type.name == 'ground' ? 'tierra' : tipo.type.name == 'flying' ? 'volador' : tipo.type.name == 'rock' ? 'roca' : tipo.type.name == 'ghost' ? 'fantasma' : tipo.type.name == 'fighting' ? 'lucha' : tipo.type.name == 'dragon' ? 'dragon' : tipo.type.name == 'psychic' ? 'psiquico' : tipo.type.name == 'dark' ? 'siniestro' : tipo.type.name == 'steel' ? 'acero' : tipo.type.name == 'fairy' ? 'hada' : 'normal'">{{tipo.type.name}}</p>
            </div>
            <div class="pokemon-card__box">
                <img class="pokemon-card__img" src="{{pokemon.sprites.front_default}}" alt="">
            </div>
        </div>
    </div>

</div>

<div class="pokemon-box" *ngIf="mostrar==8">

    <div class="pokemon-card" *ngFor="let pokemon of pokemonList8">
        <div [routerLink]="['/detail', pokemon.id]">
            <h3 class="pokemon-card__h3">{{pokemon.name.toUpperCase()}}</h3>
            <h4 class="pokemon-card__h4">{{pokemon.id}}</h4>
            <div class="pokemon-card__tipo" *ngFor="let tipo of pokemon.types">
                <p class="pokemon-card__p" [ngClass]="tipo.type.name == 'fire' ? 'fuego' : tipo.type.name == 'water' ? 'agua' : tipo.type.name == 'grass' ? 'planta' : tipo.type.name == 'poison' ? 'veneno' : tipo.type.name == 'electric' ? 'electrico' : tipo.type.name == 'bug' ? 'bicho' : tipo.type.name == 'ice' ? 'ice' : tipo.type.name == 'ground' ? 'tierra' : tipo.type.name == 'flying' ? 'volador' : tipo.type.name == 'rock' ? 'roca' : tipo.type.name == 'ghost' ? 'fantasma' : tipo.type.name == 'fighting' ? 'lucha' : tipo.type.name == 'dragon' ? 'dragon' : tipo.type.name == 'psychic' ? 'psiquico' : tipo.type.name == 'dark' ? 'siniestro' : tipo.type.name == 'steel' ? 'acero' : tipo.type.name == 'fairy' ? 'hada' : 'normal'">{{tipo.type.name}}</p>
            </div>
            <div class="pokemon-card__box">
                <img class="pokemon-card__img" src="{{pokemon.sprites.front_default}}" alt="">
            </div>
        </div>
    </div>

</div>
