.buscador {
    width: 25%;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px auto;

    .buscador__input {
        width: 70%;
        height: 30px;
        color: black;
        font-weight: 700;
        font-size: 20;
        padding: 0px 10px;
    }

    .buscador__button {
        width: 25%;
        height: 34px;
        margin-left: 10px;
        font-weight: 700;
        font-size: 20;
        background-color: black;
        color: white;
        border: 0px;
    }
    .buscador__button:hover {
        background-color: white;
        color: black;
    }
}

.menu {
    margin: 20px;
    text-align: center;
    *{margin:0;padding:0;box-sizing:border-box;font-size:0;}  

    .button {
      text-decoration:none;
      font-size:14px;
      width: 100%;
      height: 100%;
      background-color:#000;
      border:1px solid #000;
      color:#fff;
      cursor: pointer;
      }
            
    .menu-nav__li{
      display:inline-block;
      width:150px;
      height:30px;
      text-align:center;
      position:relative;
    }
            
    .button:hover{
      background-color:#fff;
      color:#000;
      }
            
    .li__ul{
      display:none;
    }

    .menu-nav__li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
    }
}

.pokemon-box {
    width: 84%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto;

    .pokemon-card {
        padding: 0px 10px;
        padding-bottom: 30px;
        width: 20%;
        height: 260px;
        margin: 20px auto;
        background-color: rgb(12, 114, 12);
        border-radius: 10%;
        border: 6px solid #fff;
        text-align: center;
        box-shadow: 10px 5px 5px black;
        cursor: pointer;
        -webkit-transition: all .5s ease-in-out;

        .pokemon-card__box {
            width: 100%;
            margin-bottom: 20px;
            .pokemon-card__img {
                width: 180px;
                max-width: 100%;
                margin: auto 0px;
            }
        }

        .pokemon-card__h3 {
            text-align: center;
            margin-top: 10px;
            color: #fff;
            font-size: 28px;
        }

        .pokemon-card__h4 {
            color: white;
        }

        .pokemon-card__p {
            color: #fff;
            border-radius: 80%;
            border: 2px solid #fff;
            width: 25%;
            margin: 2px auto;
        }

        .fuego {
            background-color: red;
        }

        .planta {
            background-color: rgb(11, 85, 11);
        }

        .agua {
            background-color: rgb(42, 116, 255);
        }

        .veneno {
            background-color: purple;
        }

        .electrico {
            background-color: yellow;
        }

        .bicho {
            background-color: greenyellow;
        }

        .ice {
            background-color: rgb(25, 160, 201);
        }

        .tierra {
            background-color: rgb(163, 98, 45);
        }

        .roca {
            background-color: rgb(131, 62, 5);
        }

        .volador {
            background-color: rgb(83, 83, 255);
        }

        .fantasma {
            background-color: rgb(42, 7, 87);
        }

        .siniestro {
            background-color: rgb(46, 41, 41);
        }

        .dragon {
            background-color: rgb(8, 8, 100);
        }

        .psiquico {
            background-color: rgb(230, 87, 110);
        }

        .lucha {
            background-color: rgb(160, 4, 4);
        }

        .normal {
            background-color: silver;
        }

        .hada {
            background-color: rgb(245, 142, 160);
        }

        .acero {
            background-color: rgb(109, 102, 102);
        }
    }

    .pokemon-card:hover {
        width: 22%;
        height: 260px;
        background-color: silver;
    }
}