.form {

    .box-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        .form-button {
            text-decoration: none;
            color: #000;
            padding: 9px 20px;
            border: 2px solid #000;
            text-transform: uppercase;
            transition: all .3s ease-in-out;
            text-align: center;
            background-color: rgb(187, 175, 175);
            font-weight: 600;
            margin-top: 40px;
            margin-left: 10px;

            .gallery__a {
                text-decoration: none;
                color: #000;
            }

            .gallery__a:hover {
                color: #fff;
            }
        }

        .form-button:hover{
            background-color: #000;
            color: #fff;
            font-size: 14px;
            border: 2px solid #fff;
        }
    }

    .data-box {
        background-color: silver;
        border: 4px solid black;
        border-radius: 10px;
        text-align: center;
        width: 40%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-weight: 700;

        .data__img {
            border: 4px solid black;
            max-width: 70%;
            margin: 20px auto;
        }
    }

    .form-box {
        background-color: silver;
        border: 4px solid black;
        border-radius: 10px;
        text-align: center;
        width: 60%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        font-size: 18px;

        .form__h2 {
            margin-top: 20px;
        }

        .form__fieldset {

            text-align: justify;
            border: none;
            margin: 20px auto;
            margin-left: 200px;
            font-weight: 600;

            .form__label {
                margin-right: 10px;
            }

            .form__input {
                width: 40%;
                height: 20px;
            }
        }

        .form__submit {
            text-decoration: none;
            color: #000;
            padding: 9px 20px;
            border: 2px solid #000;
            text-transform: uppercase;
            transition: all .3s ease-in-out;
            background-color: rgb(187, 175, 175);
            font-weight: 600;
            margin: 10px auto;
        }

        .form__submit:hover {
            background-color: #000;
            color: #fff;
            font-size: 14px;
            border: 2px solid #fff;
        }

    }
}