<div class="form">

    <div class="form-box">

        <h2 class="form__h2">Registro de entrenador:</h2>
        <!-- formGroup es el nombre de nuestro formFroup del .ts -->
        <form 
        *ngIf="pokemonForm" 
        class="form__fields" 
        novalidate 
        (ngSubmit)="onSubmit()" 
        [formGroup]= "pokemonForm"
        >
        <!-- Fieldset del primer campo - name -->
	    <fieldset class="form__fieldset">
            <label class="form__label" for="name">Nombre:</label>
            <input class="form__input" type="text" id="name" formControlName="name" />
		        <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
        </fieldset>

        <!-- Fieldset del segundo campo - favPlayer -->
	    <fieldset class="form__fieldset">
            <label class="form__label" for="id">Id:</label>
            <input class="form__input" type="number" id="id" formControlName="id" />
		        <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
        </fieldset>

        <fieldset class="form__fieldset">
            <label class="form__label" for="url">Url:</label>
            <input class="form__input" type="text" id="url" formControlName="url" />
		        <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
        </fieldset>

	        <!-- Botón deshabilitado hasta que el formulario sea valid -->
        <button type="submit" class="form__submit" [disabled]="!pokemonForm.valid">Enviar</button>

        </form>

        <app-modal-create [(showModal)]="showModal">

            <div class="modal-header">
                <h1>Formulario de entrenadores</h1>
            </div>

            <div class="modal-body">
                <h3>Entrenador añadido</h3>
                <button class="form__submit" routerLink="/entrenadores">Ver entrenadores</button>
            </div>

        </app-modal-create>

    </div>

</div>
  

