.entrenador-box {
    width: 100%;

    .entrenador-card {
        padding: 0px 10px;
        padding-bottom: 30px;
        width: 40%;
        margin: 20px auto;
        background-color: rgb(12, 114, 12);
        border-radius: 10%;
        border: 6px solid #fff;
        text-align: center;
        box-shadow: 10px 5px 5px black;
        cursor: pointer;
        -webkit-transition: all .5s ease-in-out;

        .entrenador-card__box {
            width: 100%;
            margin-bottom: 20px;
            .entrenador-card__img {
                width: 180px;
                max-width: 100%;
                margin: auto 0px;
            }
        }

        .entrenador-card__h3 {
            text-align: center;
            margin-top: 10px;
            color: #fff;
            font-size: 28px;
        }

        .entrenador-card__h4 {
            color: white;
            margin-bottom: 10px;
        }

        .entrenador-card__p {
            color: #fff;
            border-radius: 80%;
            border: 2px solid #fff;
            width: 25%;
            margin: 2px auto;
        }
    }

    .entrenador-card:hover {
        width: 22%;
        background-color: silver;
    }
}