<div class="entrenador-box">

    <div class="entrenador-card" *ngFor="let entrenador of entrenadoresList">
            <h3 class="entrenador-card__h3">{{entrenador.name.toUpperCase()}}</h3>
            <h4 class="entrenador-card__h4">{{entrenador.id}}</h4>
            <div class="entrenador-card__box">
                <img class="entrenador-card__img" src="{{entrenador.url}}" alt="">
            </div>
    </div>

</div>