
@font-face {
    font-family: 'pokemon';
    src: url('./assets/fonts/pokemon/pokemon-solid.ttf');
}


* {
    margin: 0;
    padding: 0;
}

.banner{
	position: static;
	padding-bottom: 40px;
	width: 100%;
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	transition: all .1s ease-out;
	background-image: url('./assets/img/fondo.jpg');
    animation: banner 20s infinite linear;
}

@keyframes banner{
	0%{
		background-image: url('./assets/img/fondo.jpg');
	}
	25%{
		background-image: url('./assets/img/fondo.jpg');
	}


	26%{
		background-image: url('./assets/img/fondo1.jpg');
	}
	50%{
		background-image: url('./assets/img/fondo1.jpg');
	}


	51%{
		background-image: url('./assets/img/fondo2.jpg');
	}
	75%{
		background-image: url('./assets/img/fondo2.jpg');
	}
	

	76%{
		background-image: url('./assets/img/fondo3.jpg');
	}
	100%{
		background-image: url('./assets/img/fondo3.jpg');
	}

}